<!<!DOCTYPE html>
{% load static %}

<html lang="{{ context.lang }}">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'main.css' %}"/>
    <title>{{ context.title }}</title>
  </head>
  <body class="is-loading">
    <nav id="flags">
      <ul>
      {% if context.lang == 'en' %}
      <a href="{{ context.otherURL }}"><img src="{% static 'pl.png' %}"></img></a>
      <a href="{{ context.currentURL }}"><img src="{% static 'uk.png' %}"></img></a>
      {% else %}
      <a href="{{ context.currentURL }}"><img src="{% static 'pl.png' %}"></img></a>
      <a href="{{ context.otherURL }}"><img src="{% static 'uk.png' %}"></img></a>
      {% endif %}
      </ul>
    </nav>
    <div id="wrapper" class="fade-in">
      <div id="intro">
        {% if context.lang == 'en' %}
          <h1>Survey</h1>
          <h2>Health and social consequences of surveillance cameras in public spaces</p>
        {% else %}
          <h1>Ankieta</h1>
          <h2>Społeczne i zdrowotne konsekwencje wynikające z obecności kamer w przestrzeni publicznej</p>
        {% endif %}
      </div>
      <nav id="nav">
        <ul class="links">
          {% block links %}{% endblock %}
        </ul>
      </nav>
      <div id="main">
        {% block content %}{% endblock %}
      </div>
      <div id="footer">
        <ul>
          <li><a href="mailto:s155256@student.pg.edu.pl">Michał Falkiewicz</a></li>
          {% if context.lang == 'en' %}
          <li><a href="https://eti.pg.edu.pl/en/kibm-en">Biomedical Engineering</li>
          {% else %}
    			<li><a href="https://eti.pg.edu.pl/kibm">Inżynieria Biomedyczna</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
    <!--Skrypty-->
    <!--jQuery z googleapi-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!--biblioteki jQuery do scrollowania-->
  	<script src="{% static 'jquery.scrolly.min.js' %}"></script>
  	<!--JavaScript-->
  	<script src="{% static 'main.js' %}"></script>
  </body>
</html>
